<%- include ('layouts/header.ejs')%> 
<br>
<br>
      <!---Start of title-->
      <div class="container">
        <div class="col">
          <div class="row">
            <h1 class="text-center">Women's Bottoms</h1>
          </div>
        </div>
      </div>
      <!---End of title-->
      <br>
      <br>
<!--test layout-->
  <!--Start of Beige Mini Skirt-->
      <div class="row">
        <div class="col-md-2 offset-md-1">
            <div class="card">
                <img src="images/beigeminiskirt.jpg" class="card-img-top" alt="beigeminiskirt">
                <div class="card-body">                  
                    <h5 class="card-title">Beige Mini Skirt</h5>
                    <h6 class="card-title">$25.00</h6>
                    <p class="card-text">Perfect for a night to remember.</p>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <a class="add-cart cart1" href="#">              
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                              </svg>                            
                          </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!--End of Beige Mini Skirt-->
  <!--Start of Black Floral Skirt-->      
        <div class="col-md-2">
          <div class="card">
            <img src="images/blackfloralskirt.jpg" class="card-img-top" alt="blackfloralskirt">
            <div class="card-body">
                <h5 class="card-title">Black Floral Skirt</h5>
                <h6 class="card-title">$25.00</h6>
                <p class="card-text">Super cute skirt for summer.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart2" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 <!--End of Black Floral Skirt-->
  <!--Start of Brown Layered Skirt-->
        <div class="col-md-2">
          <div class="card">
            <img src="images/brownlayeredskirt.jpg" class="card-img-top" alt="brownlayeredskirt">
            <div class="card-body">
                <h5 class="card-title">Brown Layered Skirt</h5>
                <h6 class="card-title">$30.00</h6>
                <p class="card-text">A skirt for any kind of event.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart3" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 <!--End of Brown Layered Skirt-->
  <!--Start of Grey Bootcut Slacks-->
        <div class="col-md-2">
          <div class="card">
            <img src="images/greybootcutslacks.jpg" class="card-img-top" alt="greybootcutslacks">
            <div class="card-body">
                <h5 class="card-title">Grey Bootcut Slacks</h5>
                <h6 class="card-title">$35.00</h6>
                <p class="card-text">Wonderful choice for formal or business events.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart4" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 <!--End of Grey Bootcut Slacks-->
  <!--Start of Leather Pants-->
        <div class="col-md-2 ">
          <div class="card">
            <img src="images/Leather pants.jpg" class="card-img-top" alt="Leather Pants">
            <div class="card-body">
                <h5 class="card-title">Leather Pants</h5>
                <h6 class="card-title">$70.00</h6>
                <p class="card-text">Great for the winter, also goes with our leather handbag.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart5" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
<!--End of Butterfly Clips-->
      <br>
      <br>
      <br>
<!--second row-->
<!--Start of Grey Tweed Slacks-->
      <div class="row">
        <div class="col-md-2 offset-md-1">
            <div class="card">
                <img src="images/greytweedslacks.jpg" class="card-img-top" alt="greytweedslacks">
                <div class="card-body">
                    <h5 class="card-title">Grey Tweed Slacks</h5>
                    <h6 class="card-title">$35.00</h6>
                    <p class="card-text">Very Business Professional.</p>
                    <div class="container text-center">
                        <div class="row">
                          <div class="col">
                            <a class="add-cart cart6" href="#">              
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                              </svg>                            
                          </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!--End of Grey Tweed Slacks-->
  <!--Start of Jean Shorts-->
        <div class="col-md-2">
          <div class="card">
            <img src="images/jeanshorts.jpg" class="card-img-top" alt="jeanshorts">
            <div class="card-body">
                <h5 class="card-title">Jean Shorts</h5>
                <h6 class="card-title">$25.00</h6>
                <p class="card-text">The perfect shorts for summer.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart7" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 <!--End of Jean Shorts-->
  <!--Start of Pink Linen Pants-->
        <div class="col-md-2">
          <div class="card">
            <img src="images/pinkhighwaistedlinenpants.jpg" class="card-img-top" alt="pinkhighwaistedlinenpants">
            <div class="card-body">
                <h5 class="card-title">Pink Linen Pants</h5>
                <h6 class="card-title">$30.00</h6>
                <p class="card-text">Wonderful for a concert, very comfy.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart8" href="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 <!--End of Pink Linen Pants-->
  <!--Start of Pleated Brown Skirt-->      
      <div class="col-md-2">
          <div class="card">
            <img src="images/pleatedbrownskirt.jpg" class="card-img-top" alt="pleatedbrownskirt">
            <div class="card-body">
                <h5 class="card-title">Pleated Brown Skirt</h5>
                <h6 class="card-title">$25.00</h6>
                <p class="card-text">Perfect for fall season.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart9" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>                        
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
<!--End of Pleated Brown Skirt-->
<!--Start of Grey Cargo Pants-->      
        <div class="col-md-2 ">
          <div class="card">
            <img src="images/greycargopants.jpg" class="card-img-top" alt="greycargopants">
            <div class="card-body">
                <h5 class="card-title">Grey Cargo Pants</h5>
                <h6 class="card-title">$30.00</h6>
                <p class="card-text">The comfiest pants around.</p>
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <a class="add-cart cart10" href="#">          
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-basket-fill" viewBox="0 0 16 16">
                            <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                          </svg>
                      </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!--End of Gray Cargo Pants-->


<script src="/js/bottoms.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>    