<%- include('layouts/header.ejs')%>
<br>
    <!---Start of Contact Form-->
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-5 text-center">
          <form action="/submitContact" method="post">
            <h3 class= "mb-4">Any Questions? Contact Us:</h3>
            <input type="text" class="form-control mb-4" name="fname" aria-describedby="firstname" placeholder="First Name" >
            <input type="text" class="form-control mb-4" name="lname" aria-describedby="lastname"  placeholder="Last Name">
            <input type="email" class="form-control mb-4" name="email" aria-describedby="emailHelp"  placeholder="Email">
            <label for="selection" class="form-label">Reason For Contact:</label>
            <select class="form-select mb-4" aria-label="Default select example" name="reason">
              <option selected value="Misleading">Misleading</option>
              <option value="Connection">Connection</option>
              <option value="Advce">Advice</option>
              <option value="Other">Other</option>
            </select>
            <textarea class="form-control mb-4" name="comment" rows="3" placeholder="Comment"></textarea>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

<!--End of our Social-->    
<script src="/js/shoes.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<!--bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>